<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>F8 education</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>

                <li class='dropdown'>
                    <button
                        class='btn btn-secondary dropdown-toggle'
                        type='button'
                        id='dropdownMenuButton'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'
                    >
                        <img
                            src='https://st.nettruyenme.com/data/comics/43/tu-la-vo-than.jpg'
                            class='user-avatar'
                            alt=''
                        />
                        Wibu

                    </button>
                    <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
                        <a class='dropdown-item' href='/course/create'>Register Course</a>

                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/me/stored/courses'>My courses</a>
                        <a class='dropdown-item' href='/me/stored/news'>My posts</a>

                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#'>Logout</a>

                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>